<h1>Articles Listing Page</h1>
<p>
  <%= link_to "New Article", new_article_path %>
</p>
<table>
  <thead>
    <tr>
      <th>S No.</th>
      <th>Article Id</th>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% i = 1%>
    <% @articles.each do |a| %>
    <tr>
      <td><%= i %></td>
      <td><%= a.id %></td>
      <td><%= a.title %></td>
      <td><%= a.description %></td>
      <td><%= link_to "Show", a %></td>
      <td><%= link_to "Edit", edit_article_path(a) %></td>
      <td><%= link_to "Delete", article_path(a),method: :delete , data: { confirm: 'Are you sure?' } %></td>
    </tr>
  </tbody>
  <% i=i+1 %>
  <% end %>
</table>
